<table class="table table-striped" id="config-table">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>    
      </tr>
    </thead>
    <tbody>
        {{ range $key, $value := . }}
        <tr>
          <td>{{$key}}</td>
          <td>{{$value}}</td>
        </tr>
        {{end}}
    </tbody>
</table>