

  <div class="container-fluid">
  
    <!-- vm by region pie chart -->
    <div class="row">
      <div class="col-md border p-3">
        Total VMs: <p class="text-center fw-bold fs-2">{{ .TotalVMs }}</p>
      </div>
      <div class="col-md border p-3">
        <canvas id="regionChart" width="600" height="350"></canvas>
        <script>
    
        var xValues = [
        {{ range $region, $vmsum := .SumVmByRegion }}
          "{{ $region }}",
        {{ end }}
        ];
    
        var yValues = [
        {{ range $region, $vmsum := .SumVmByRegion }}
          {{ $vmsum }},
        {{ end }}
        ];
    
        var barColors = [
          "#b91d47",
          "#00aba9",
          "#2b5797",
          "#e8c3b9",
          "#1e7145"
        ];
    
        new Chart("regionChart", {
          type: "pie",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            plugins:{
              legend: { 
                position: "right",
              }
            },
            responsive: false,
            title: {
              display: true,
              text: "servers per region"
            }
          }
        });
        </script>
      </div>
    </div>
    
    <!-- vm by type bar chart -->
    <div class="row">
      <div class="col-md border p-3" >
        <canvas id="instanceTypeChart" width="600" height="350"></canvas>
    
        <script>
        var xvmTypes = [
        {{ range $instanceType, $sum := .SumVmByType }}
          "{{ $instanceType }}",
        {{ end }}
        ];
        var yvmTypes = [
        {{ range $instanceType, $sum := .SumVmByType }}
          {{ $sum }},
        {{ end }}
        ];
        var barColors = ["red", "green","blue","orange","brown"];
        
        new Chart("instanceTypeChart", {
          type: "bar",
          data: {
            labels: xvmTypes,
            datasets: [{
              label: "VMs by type",
              backgroundColor: barColors,
              data: yvmTypes
            }]
          },
          options: {
            responsive: false,
            legend: {display: false},
            title: {
              display: true,
              text: "Instance types"
            },
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        </script>
      </div>

    <!-- vm by OS pie chart -->
      <div class="col-md border p-3">
        <canvas id="SumVmByOSChart" width="600" height="350"></canvas>
        <script>
    
        var xOSValues = [
        {{ range $os, $vmsum := .SumVmByOS }}
          "{{ $os }}",
        {{ end }}
        ];
    
        var yOSValues = [
        {{ range $os, $vmsum := .SumVmByOS }}
          {{ $vmsum }},
        {{ end }}
        ];
    
        var barColors = [
          "#b91d47",
          "#00aba9",
          "#2b5797",
          "#e8c3b9",
          "#1e7145"
        ];
    
        new Chart("SumVmByOSChart", {
          type: "pie",
          data: {
            labels: xOSValues,
            datasets: [{
              backgroundColor: barColors,
              data: yOSValues
            }]
          },
          options: {
            plugins:{
              legend: { 
                position: "right",
              }
            },
            responsive: false,
            title: {
              align: "start",
              display: true,
              text: "servers by Operating System"
            }
          }
        });
        </script>
      </div>
    </div>

    <!-- vm by Account bar chart -->
    <div class="row">
      <div class="col-md border p-3">
        <canvas id="AccountChart" width="600" height="350"></canvas>
    
        <script>
        var xaccounts = [
        {{ range $account, $sum := .SumVmByAccount }}
          "{{ $account }}",
        {{ end }}
        ];
        var yacccount = [
        {{ range $account, $sum := .SumVmByAccount }}
          {{ $sum }},
        {{ end }}
        ];
        var barColors = ["red", "green","blue","orange","brown"];
        
        new Chart("AccountChart", {
          type: "bar",
          data: {
            labels: xaccounts,
            datasets: [{
              label: "VMs by AWS accounts",
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            responsive: false,
            legend: {display: false},
            title: {
              display: true,
              text: "AWS accounts"
            },
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        </script>
      </div>
    </div>

  </div>


