<div class="container p-2 d-flex justify-content-center">
  <div class="row overflow-auto gy-5">

    <div class="col"> 
Instance details :
    <pre class="p-3 col border bg-opacity-10 bg-warning" style="width:600px; height: 400px;">

{{ .Vm}}

    </pre>
    </div>

    <div class="col">
Image details :
    <pre class="p-3 col border bg-opacity-10 bg-warning"" style="width:600px; height: 400px;">

{{ .Ami}}

    </pre>
    </div>

  </div>
</div>