<table class="table table-striped" id="vmlist-table">
<thead>
  <tr>
    <th>Region</th>
    <th>AwsAccountId</th>
    <th>InstanceId</th>
	  <th>Name</th>
	  <th>Architecture</th>
	  <th>PlatformDetails</th> 
	  <th>InstanceType</th>
	  <th>State</th>       
  </tr>
</thead>
<tbody>
  {{ range . }}
    {{$accoundId := .AwsAccountID}}
    {{ range .AwsRegions }}
      {{$region := .RegionName}}    
      {{range .VirtualMachines}}
      <tr>
        <td>{{$region}}</td>
        <td>{{$accoundId}}</td>
        <td>{{ .InstanceId }}</td>
	      <td>{{.Name}}</td>
	      <td>{{.Architecture}}</td>
	      <td>{{.PlatformDetails}}</td>  
	      <td>{{.InstanceType}}</td>
	      <td>{{.State}}</td>
      </tr>
      {{end}}
    {{end}}
  {{end}}
</tbody>
</table>
<script>
$('#vmlist-table').DataTable();
</script>