<div class="container-fluid">
<table class="table table-hover" id="vmlist-table" style="font-size: 12px;">
<thead>
  <tr>
    <th>Region</th>
    <th>AwsAccountId</th>
    <th>InstanceId</th>
	  <th>Name</th>
	  <th>Architecture</th>
	  <th>OS</th> 
	  <th>InstanceType</th>
	  <th>State</th>
    <th>Details</th>   
  </tr>
</thead>
<tbody>
  {{ range $accountId, $data := .AwsAccounts }}
    {{ range $region, $data := .AwsRegions }}   
      {{range $instanceId, $data := .VirtualMachines }}
      <tr>
        <td>{{$region}}</td>
        <td>{{$accountId}}</td>
        <td>{{$instanceId}}</td>
	      <td>{{.Name}}</td>
	      <td>{{.Architecture}}</td>
	      <td>{{.BootImage}}</td>  
	      <td>{{.InstanceType}}</td>
	      <td>{{.State}}</td>
        <td>
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
            hx-get="/vmdetails/{{ $accountId }}/{{ $region }}/{{ $instanceId }}" 
            hx-trigger="click" hx-target="#rightPanelDetails" hx-swap="innerHTML">
            Details
          </button>
        </td>
      </tr>
      {{end}}
    {{end}}
  {{end}}
</tbody>
</table>
</div>
<script>
$('#vmlist-table').DataTable();
</script>

<div id=vmdetails class="border border-secondary text-bg-light d-flex dropdown" >
</div>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" >
  <div class="offcanvas-header" id="offcanvasRightLabel">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="rightPanelDetails">

  </div>
</div>